# AirBnB NY Locations Data Case Study

In this final project, you task will be to take the data provided and find evidance to answer the following questions.

1. Which hosts are the busiest and why?
2. How many neighborhood groups are available and which shows up the most?
3. Are private rooms the most popular in manhattan?
4. Which hosts are the busiest and based on their reviews?
5. Which neighorhood group has the highest average price?
6. Which neighborhood group has the highest total price?
7. Which top 5 hosts have the highest total price?
8. Who currently has no (zero) availability with a review count of 100 or more?
9. What host has the highest total of prices and where are they located?
10. When did Danielle from Queens last receive a review?

You will be given **4 hours** to complete this assignment. 
**Be Advised** I will go dark for this intire assignment time period. That said, any questions that you would like to ask about the data, or the project **MUST** be asked before the time starts. Once the time has started, I can no longer give information.

This is to similate what you will face when you are out in the wild. 

Happy Coding!

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [58]:
air_bnb = pd.read_csv('AB_NYC_2019.csv')
pd.set_option('display.max_rows', None)    
pd.set_option('display.max_columns', None)
air_bnb.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [3]:
# How many neighborhood groups are available and which shows up the most?

groups = air_bnb.groupby('neighbourhood_group').count()
print(f'There are total "{len(groups)}" neighbourhood groups')
showsUp_most = groups.idxmax()
print(f'"{showsUp_most["name"]}" is the neighbourhood group which shows up the most.')

There are total "5" neighbourhood groups
"Manhattan" is the neighbourhood group which shows up the most.

In [4]:
# Are private rooms the most popular in manhattan?

df_manahattan = air_bnb[air_bnb['neighbourhood_group'] == 'Manhattan']
total_reviews = df_manahattan.groupby(by='room_type')['number_of_reviews'].sum()
total_reviews.loc[['Entire home/apt', 'Private room', 'Shared room']]

room_type
Entire home/apt    235147
Private room       209150
Shared room         10272
Name: number_of_reviews, dtype: int64

In [5]:
# Which hosts are the busiest and based on their reviews?

max_per_month = air_bnb['reviews_per_month'].max()
air_bnb[air_bnb['reviews_per_month'] == max_per_month][['host_name']]

      host_name
42075   Row NYC

In [6]:
#Which neighorhood group has the highest average price?

average_price = air_bnb.groupby(by='neighbourhood_group')[['price']].mean()
max_price = average_price['price'].idxmax()
max_price

'Manhattan'

In [7]:
# Which neighbor hood group has the highest total price?

air_bnb['total_price'] = air_bnb['price'] * air_bnb['minimum_nights']


# max_groupby = air_bnb.groupby(by='neighbourhood_group')['total_price'].max()
# max_high  = max_groupby.max()

# result = max_groupby[max_groupby == max_high]
# result

air_bnb.groupby(by='neighbourhood_group')['total_price'].max()
maxi= air_bnb['total_price'].idxmax()
highest_total_price = air_bnb.loc[maxi][['neighbourhood_group', 'total_price']]
highest_total_price

neighbourhood_group    Manhattan
total_price              1170000
Name: 48043, dtype: object

In [8]:
# Which top 5 hosts have the highest total price?

sorted_air_bnb = air_bnb.sort_values(by='total_price', ascending = False)
sorted_air_bnb.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,total_price
48043,36056808,Luxury TriBeCa Apartment at an amazing price,271248669,Jenny,Manhattan,Tribeca,40.71206,-74.00999,Entire home/apt,6500,180,0,NaN,NaN,1,365,1170000
9151,7003697,Furnished room in Astoria apartment,20582832,Kathrine,Queens,Astoria,40.76810,-73.91651,Private room,10000,100,2,2016-02-13,0.04,1,0,1000000
12342,9528920,"Quiet, Clean, Lit @ LES & Chinatown",3906464,Amy,Manhattan,Lower East Side,40.71355,-73.98507,Private room,9999,99,6,2016-01-01,0.14,1,83,989901
17811,13963005,Gorgeous 2 Bedroom apartment,41870118,Iveta,Queens,Forest Hills,40.72064,-73.83746,Entire home/apt,2350,365,0,NaN,NaN,1,364,857750
44429,34221161,Room with sofa bed or air mattress,9295237,Noelle,Queens,Astoria,40.75593,-73.91276,Private room,2000,365,0,NaN,NaN,2,0,730000

In [9]:
top_hosts = air_bnb.groupby('host_id')['total_price'].sum().sort_values(ascending=False).head(5)

print("Top 5 hosts with the highest total price:")
print(top_hosts)

Top 5 hosts with the highest total price:
host_id
107434423    2258580
271248669    1170000
30283594     1164243
20582832     1000000
3906464       989901
Name: total_price, dtype: int64

In [56]:
# Who currently has no (zero) availability with a review count of 100 or more?

zero_available = air_bnb[(air_bnb['availability_365'] == 0) & (air_bnb['number_of_reviews'] >= 100)]
zero_available.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,total_price
8,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,79,2,118,2017-07-21,0.99,1,0,158
94,20913,Charming 1 bed GR8 WBurg LOCATION!,79402,Christiana,Brooklyn,Williamsburg,40.70984,-73.95775,Entire home/apt,100,5,168,2018-07-22,1.57,1,0,500
132,30031,NYC artists’ loft with roof deck,129352,Sol,Brooklyn,Greenpoint,40.73494,-73.95030,Private room,50,3,193,2019-05-20,1.86,1,0,150
174,44221,Financial District Luxury Loft,193722,Coral,Manhattan,Financial District,40.70666,-74.01374,Entire home/apt,196,3,114,2019-06-20,1.06,1,0,588
180,45556,"Fort Greene, Brooklyn: Center Bedroom",67778,Doug,Brooklyn,Fort Greene,40.68863,-73.97691,Private room,65,2,206,2019-06-30,1.92,2,0,130

In [57]:
zero_available.groupby(by='host_id').first().head()

,id,name,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,total_price
host_id,,,,,,,,,,,,,,,,
7490,5203,Cozy Clean Guest Room - Family Apt,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,79,2,118,2017-07-21,0.99,1,0,158
36897,282443,QT STUDIO FOR ROMANTIC COUPLES,Lydia,Manhattan,Chinatown,40.71601,-73.99123,Entire home/apt,90,3,107,2019-05-18,1.17,1,0,270
67778,45556,"Fort Greene, Brooklyn: Center Bedroom",Doug,Brooklyn,Fort Greene,40.68863,-73.97691,Private room,65,2,206,2019-06-30,1.92,2,0,130
79402,20913,Charming 1 bed GR8 WBurg LOCATION!,Christiana,Brooklyn,Williamsburg,40.70984,-73.95775,Entire home/apt,100,5,168,2018-07-22,1.57,1,0,500
116382,11684682,Bright sunny room in NYC!,Anthony,Brooklyn,Crown Heights,40.67031,-73.94088,Private room,29,2,142,2019-05-19,3.54,5,0,58

In [12]:
# What host has the highest total of prices and where are they located?

In [13]:
# When did Danielle from Queens last receive a review?

Danielle_from_Queens = air_bnb[(air_bnb['host_name'] == 'Danielle') & (air_bnb['neighbourhood_group'] == 'Queens')]
Danielle_from_Queens = Danielle_from_Queens.dropna(subset='last_review')
Danielle_from_Queens['last_review'].max()

'2019-07-08'

## Further Questions

1. Which host has the most listings?

In [55]:
# max_id = air_bnb.groupby(by='host_id').count().idxmax()
# result = air_bnb.loc[max_id][['host_id', 'host_name']]
# result

most_listings_host_id = air_bnb['host_id'].value_counts().idxmax()
most_listings_host_info = air_bnb[air_bnb['host_id'] == most_listings_host_id].copy()

most_listings_host_info['total_number_of_listings'] = most_listings_host_info.shape[0]

most_listings_host_info.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,total_price,total_number_of_listings
38293,30181691,Sonder | 180 Water | Incredible 2BR + Rooftop,219517861,Sonder (NYC),Manhattan,Financial District,40.70637,-74.00645,Entire home/apt,302,29,0,NaN,NaN,327,309,8758,327
38294,30181945,Sonder | 180 Water | Premier 1BR + Rooftop,219517861,Sonder (NYC),Manhattan,Financial District,40.70771,-74.00641,Entire home/apt,229,29,1,2019-05-29,0.73,327,219,6641,327
38588,30347708,Sonder | 180 Water | Charming 1BR + Rooftop,219517861,Sonder (NYC),Manhattan,Financial District,40.70743,-74.00443,Entire home/apt,232,29,1,2019-05-21,0.60,327,159,6728,327
39769,30937590,Sonder | The Nash | Artsy 1BR + Rooftop,219517861,Sonder (NYC),Manhattan,Murray Hill,40.74792,-73.97614,Entire home/apt,262,2,8,2019-06-09,1.86,327,91,524,327
39770,30937591,Sonder | The Nash | Lovely Studio + Rooftop,219517861,Sonder (NYC),Manhattan,Murray Hill,40.74771,-73.97528,Entire home/apt,255,2,14,2019-06-10,2.59,327,81,510,327

In [54]:
desired_info = most_listings_host_info[['host_id', 'host_name', 'total_number_of_listings']].head(1)
desired_info

         host_id     host_name  total_number_of_listings
38293  219517861  Sonder (NYC)                       327

2. How many listings have completely open availability?

In [96]:
open_availability = len(air_bnb[air_bnb['availability_365'] >= 365])
open_availability

1295

3. What room_types have the highest review numbers?

In [92]:
room_type_review = air_bnb.groupby(by='room_type')['number_of_reviews'].sum()
print('Room types with total number of reviews ')
print(room_type_review)


max_reviews_room_type = room_type_review.idxmax()
print(f'Room type with maximum number of reviews: "{max_reviews_room_type}"')

Room types with total number of reviews
room_type
Entire home/apt    580403
Private room       538346
Shared room         19256
Name: number_of_reviews, dtype: int64
Room type with maximum number of reviews: "Entire home/apt"

# Final Conclusion

In this cell, write your final conclusion for each of the questions asked.

Also, if you uncovered some more details that were not asked above, please discribe them here.

-- Add your conclusion --